.hero-section-wrapper {
  background-color:black;
  min-height: 100vh;
}

.typewriter-name {
  color: rgb(30, 144, 255);
  font-weight: bold;
}

.dot {
  color: #8e44ad;
}
.footer {
  background-color: #111;
  color: #aaa;
  font-size: 14px;
  border-top: 1px solid #222;
}

.hero-description {
  max-width: 500px;
}

.social-icons i:hover {
  color: rgb(30, 144, 255);
  transition: color 0.3s;
}

@media (max-width: 768px) {
  .hero-profile-img {
    max-width: 200px !important;
  }
}
